<footer class="footer grey">
    <div class="container footer-content">
        <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-4 col-md-offset-5 col-sm-offset-4 col-xs-offset-3">
        <a rel="nofollow" class="vk" href="https://vk.com/ezstudyru"  title="EzStudy ВК" ></a></div>
        <div class="col-md-1 col-sm-2 col-xs-4">
        <a rel="nofollow" class="mail" href="mailto:rukonastudio@gmail.com"  title="EzStudy почта" ></a></div>
    </div>
    </div>
</footer>