<header id="header" class="header">
	<div class="container">
		<h1 class="logo pull-left">
			<a class="scrollto" href="#top">
				<span><%= title %></span>
			</a>
		</h1>

		<nav id="nav-top" class="main-nav navbar-right" role="navigation">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
				<!--//nav-toggle-->
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="scrollto" href="#benefits">Преимущества</a></li>
					<li class="nav-item"><a class="scrollto" href="#about">О сервисе</a></li>
					<li class="nav-item"><a class="scrollto" href="#steps">Этапы работы</a></li>
					<li class="nav-item"><a class="scrollto" href="#feedback">Заявка</a></li>
					<li class="nav-item"><a class="scrollto" href="#comments">Отзывы</a></li>
					<li class="nav-item"><a class="scrollto" href="#review">Оцените</a></li>
				</ul>
				<!--//nav-->
			</div>
		</nav>
	</div>
	
</header>