<section id="about" class="about section grey">
  <div class="imageForAbout">
  </div>
  <div class="about-info">
    <h2 class="title t1 text-center">О сервисе</h2>
    <div class="about-text">
      <p>Нужна лабораторная или курсовая? А может срочно нужно решить контрольную или написать реферат?</p>
      <p>Наша команда EzStudy с легкостью выполнит любую работу. Оставляй заявку, и мы сразу свяжемся с вами. </p>
      <p>Быстро, качественно, надежно. Сотни довольных клиентов по всей России. Проводим консультации по выполненной работе и объясним уже готовые.</p>
    </div>
  </div>
</section>