<section id="benefits" class="benefits section white">
  <div class="container">

    <h2 class="section-title text-center">Наши преимущества:</h2>
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-0">
        <div class="col-md-12  benefit-item">
          <span>
            <div class="benefit-pic" id="benefits-pic1"></div>
          </span>
          <div class="col-sm-1 col-xs-1 "></div>
          <div class="benefit-info">
            <span>
              <div class="benefit-title">Всегда остаемся на связи</div>
              <div class="benefit-text">Даже возможны личные консультации.</div>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-0">
        <div class="col-md-12 benefit-item">
          <span style="order: 2;">
            <div class="benefit-pic" id="benefits-pic3"></div>
          </span>
          <div class="benefit-info right">
            <span>
              <div class="benefit-title">Мастера своего дела</div>
              <div class="benefit-text">У нас только профессионалы.</div>
            </span>
          </div>
          <div class="col-sm-1 col-xs-1"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-0">
        <div class="col-md-12 benefit-item">
          <span>
            <div class="benefit-pic" id="benefits-pic4"> </div>
          </span>
          <div class="col-sm-1 col-xs-1"></div>
          <div class="benefit-info">
            <span>
              <div class="benefit-title">Срочная работа</div>
              <div class="benefit-text">Нужно сделать работу в очень короткие сроки? Не проблема.</div>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-0">
        <div class="col-md-12 benefit-item">
          <span style="order: 2;">
            <div class="benefit-pic" id="benefits-pic5"></div>
          </span>
          <div class="benefit-info right">
            <span>
              <div class="benefit-title">Акции</div>
              <div class="benefit-text">Иногда на нашем сайте появляются спецпредложения.</div>
            </span>
          </div>
          <div class="col-sm-1 col-xs-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>