<section id="comments" class="steps section white">
    <div class="container">
        <h2 style="color: #1976d2;" class="text-center">Отзывы наших клиентов</h2>
        <div class="slider">
            <input class="slider__nav" type="radio" name="slider" checked="checked" />
            <input class="slider__nav" type="radio" name="slider" />
            <input class="slider__nav" type="radio" name="slider" />
            <input class="slider__nav" type="radio" name="slider" />
            <div class="slider__inner">
                <div class="slider__contents">
                    <h2 class="slider__caption">Андрей</h2>
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p class="slider__txt">Очень быстро сделали курсовую работу и лабораторные, легко все сдал, спасибо</p>
                </div>
                <div class="slider__contents">
                    <h2 class="slider__caption">Иван</h2>
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p class="slider__txt">Помогли со схемтехом и прикладной теорией цифровых автоматов, все отлично</p>
                </div>
                <div class="slider__contents">
                    <h2 class="slider__caption">Алина</h2>
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p class="slider__txt">Ребята помогли разобраться в проге, я единственная, кто с первого раза защитила мою курсовую по программированию</p>
                </div>
                <div class="slider__contents">
                    <h2 class="slider__caption">Даша</h2>
                    <div class="row">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p class="slider__txt">Сдала контрольную по высшей математике на 5, очень рада, спасибо вашей компании</p>
                </div>
            </div>
        </div>
    </div>
</section>