<section id="feedback" class="feedback section grey">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="title text-center">Прием заявки</h2>
        <form id="formfeedback" name="contactForm" data-toggle="validator" enctype="multipart/form-data">
          <div class="row">
            <div class="form-group required col-md-6 mb-3">
              <label for="firstName" class="control-label">Имя</label>
              <input type="text" name="firstName" class="form-control" value="" placeholder="Введите имя" data-error="Введите Ваше имя"
                required>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group required col-md-6 mb-3">
              <label for="secondName" class="control-label">Фамилия</label>
              <input type="text" name="secondName" class="form-control" value="" placeholder="Введите фамилию" data-error="Введите Вашу фамилию"
                required>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group required col-md-6 mb-3">
              <label for="email" class="control-label">Email</label>
              <input type="email" class="form-control" name="email" value="" placeholder="Введите Email" data-error="Введите корректный Email адрес"
                required>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group required col-md-6 mb-3">
              <label for="subject" class="control-label">Предмет</label>
              <input type="text" class="form-control" name="subject" value="" placeholder="Название предмета" data-error="Введите название предмета"
                required>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group required">
            <label for="description" class="control-label">Описание задания</label>
            <textarea rows="8" type="text" class="form-control" name="description" value="" placeholder="Опишите задание как можно подробнее. Здесь можно указать дополнительные контактные данные."
              data-error="Введите описание задания" required></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">

            <label for="files" class="control-label">Архив с заданием (.zip, .rar)</label>
            <input id="inputfile" name="files" type="file" class="file" data-preview-file-type="text">
            <div id="msg-error" class="kv-fileinput-error file-error-message hidden">
              <ul class="ul-error"></ul>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="form-group required">
            <div class="checkbox">
              <div class="control-label">
                <label>
                  <input type="checkbox" name="personalData" data-error="Неоходимо согласиться с условиями" required> Я даю согласие на обработку</label>                <a class="personal-data">персональных данных</a></div>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-style" id="continue" data-toggle="modal">
                Отправить
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>