<section id="review" class="section grey">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="title text-center">Оцените нашу работу</h2>
        <form id="formreview" data-toggle="validator">
          <div class="form-group required">
            <label for="firstName" class="control-label">Имя</label>
            <input type="firstName" class="form-control" name="firstName" placeholder="Введите имя" data-error="Введите Ваше имя" required>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group required">
            <label for="reviewtext" class="control-label">Текст отзыва</label>
            <textarea rows="8" type="text" class="form-control" name="reviewText" placeholder="Оставьте ваш отзыв" data-error="Введите ваш отзыв"
              required></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="reviewmark" class="control-label">Оценка</label>
            <div id="stars" name="reviewmark" class="required" data-error="Необходимо согласиться с условиями"> </div>
            <div class="help-block with-errors st"></div>
          </div>
          <div class="form-group required">
            <div class="checkbox">
              <div class="control-label">
                <label>
                    <input type="checkbox" name="personalData" data-error="Необходимо согласиться с условиями"
                    required> Я даю согласие на обработку</label> <a class="personal-data">персональных данных</a>
              </div>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" id="sendreview-btn" class="btn btn-style">Оставить отзыв</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>