<section id="steps" class="steps section white">
    <div class="container">
        <h2 class="section-title text-center">Этапы работы</h2>
        <div class="row">
            <div class="item col-md-6 wow slideInLeft">
                <div class="icon-holder ">
                    <i style="font-size:3em;" class="glyphicon glyphicon-edit"></i>
                </div>
                <div class="content ">
                    <h3 class="sub-title">Первый этап</h3>
                    <hr>
                    <p class="section-text"> Вы оставляете заявку на сайте. Подробно опишите задание и прикрепите архив с необходимыми файлами.
                    </p>
                </div>
            </div>
            <div class="item col-md-6 wow slideInRight">
                <div class="icon-holder">
                    <i style="font-size:3.3em;" class="glyphicon glyphicon-hourglass"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Второй этап</h3>
                    <hr>
                    <p class="section-text"> В кратчайшие сроки мы рассмотрим вашу заявку и сразу же свяжемся с вами.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item col-md-6 wow slideInLeft">
                <div class="icon-holder">
                    <i style="font-size:3em;" class="glyphicon glyphicon-pencil"></i>
                </div>
                <div class="content ">
                    <h3 class="sub-title">Третий этап</h3>
                    <hr>
                    <p class="section-text">Наши специалисты оперативно и качественно выполняют поставленную задачу.
                    </p>
                </div>
            </div>
            <div class="item col-md-6 wow slideInRight">
                <div class="icon-holder">
                    <i style="font-size:3.5em;" class="glyphicon glyphicon-education"></i>
                </div>
                <div class="content  ">
                    <h3 class="sub-title">Четвертый этап</h3>
                    <hr>
                    <p class="section-text">Сразу после выполнения работы мы передаем ее вам. Вы радостные идете сдавать задание. :)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>