<section class="top_background">
	<div class="row">
		<div class="container">
			<h2 class="textbuety">C нами учиться легко!</h2>
			<h3 class="textbuety">Курсовые, лабораторные и рефераты</h3>
			<a href="#feedback" class="btn btn-primary scrollto">Оставить заявку</a>
		</div>
	</div>
</section>