<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="ezstudy, преимущества, программирование, база, данные, птца, схемотехника, этапы, работа, учеба, реферат, лабораторная, курсовая, дисциплина">
  <meta name="description" content="Сколько нужно успеть в студенческие и школьные годы. Для того, чтобы Вы успели реализовать все планы, существует наш сервис, который предлагает сделать ваши рефераты, лабораторные, курсовые работы и проекты. Проводим консультации по выполненной работе.">
  <meta name="yandex-verification" content="a273df56f363c84c">
  <link href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" media="all" href="/css/fileinput.min.css">
</head>

<body data-spy="scroll">
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter46122093 = new Ya.Metrika({
            id: 46122093,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
          });
        } catch (e) {}
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else {
        f();
      }
    })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/46122093" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <%- include ./partials/header.ejs %>
    <!-- Empty container behind header -->
    <div id="top" class="empty"></div>
    <%- include ./sections/top_background.ejs %>

    <%- include ./sections/benefits.ejs %>

    <%- include ./sections/about.ejs %>

    <%- include ./sections/steps.ejs %>

    <%- include ./sections/form.ejs %>

    <%- include ./sections/comments.ejs %>

    <%- include ./sections/review.ejs %>

    <%- include ./partials/footer.ejs %>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.raty.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap-dialog.js"></script>
    <script src="/js/fileinput.min.js"></script>
    <script src="/js/explorer/theme.min.js"></script>
    <script src="/js/locales/ru.js"></script>
</body>

</html>

<link rel="stylesheet" href="/css/jquery.raty.css">
<link rel="stylesheet" href="/css/bootstrap-dialog.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">