.btn {
  text-transform: uppercase;
  line-height: normal;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.btn-style {
  background-color: #2979FF;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.btn-style:hover {
  background-color: #1976D2;
  color: #fff;
}

.top_background .btn {
  background-color: #ff4735;
  border-color: #ff4735;
  color: #fff;
  margin-top: 50px;
}

.top_background .btn:hover {
  background-color: #191c1f;
  border-color: #191c1f;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.file-caption-main .btn {
  font-size: 14px;
}