.about {
  display: flex;
}

.imageForAbout {
  background: url("/images/about3.jpg") no-repeat;
  min-width: 30%;
  background-position: center;
  min-height: 400px;
  background-size: cover;
}

.about-info {
  color: #fff;
  flex: 1;
  padding: 20px 20px;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(270deg, #1976d2, #a548e4);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.section.about {
  padding: 0;
}

@media (min-width: 992px) {
  .about-info {
    padding: 20px 150px;
  }
}

@media (max-width: 768px) {
  .imageForAbout {
    min-width: 0;
  }
}