body {
  background: #293a46;
}

/* p {
  color: #fff;
} */

.panel-body p {
  color: #000;
}

.title {
  display: flex;
  flex-direction: row;
}

.titleStatus {
  justify-content: flex-end;
}

.leftstr, .rightstr {
  float: left; /* Обтекание справа */ 
  width: 50%; /* Ширина текстового блока */ 
 }
 .rightstr {
  text-align: right; /* Выравнивание по правому краю */ 
 }

.bottom_panel {
  display: flex;
  flex-direction: row;
}

.master_info {
  width: 100%;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
}

.collapse {
  display: none;
}

.nav-stacked {
  border-right: 1px solid #434857;
  margin-right: 20px;
}

.menu_elem {
  border-radius: 0.25rem;
  margin-right: 20px;
}

.menu_elem.active {
  color: #fff;
  background-color: #1997c6;
}

.nav>li>a:hover, .nav>li>a:focus {
  color: #fff;
  background-color: #1997c6;
}

.nav > li > a {
  color: #cfd2da;
}

.dash_content {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.top_menu {
  margin-top: 10px;
}

.top_menu > li > .menu_elem, .navbar-right > li > .menu_elem {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .left_menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    display: block !important;
    height: auto !important;
  }

  .top_menu {
    display: none;
  }

  .navbar-right {
    display: flex;
    margin-top: 10px;
  }

  .navbar-collapse hr {
    display: none;
  }

  .dash_content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}

hr {
  border: 0;
  border-top: 1px solid #434857;
}