.benefit-item {
  box-shadow: 0 0 10px #839cad; /* Параметры тени */
  padding: 10px;
  /* margin: 10px; */
  border-radius: 10px;
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* align-content: center; */
}

.benefit-info.right {
  text-align: right;
}

#benefits-pic1,
#benefits-pic3,
#benefits-pic4,
#benefits-pic5 {
  width: 100px;
  height: 100px;
}

#benefits-pic1 {
  background: url("/images/benefits-phone.png") no-repeat round;
}

#benefits-pic3 {
  background: url("/images/benefits-master.png") no-repeat round;
}

#benefits-pic4 {
  background: url("/images/benefits-urgently.png") no-repeat round;
}

#benefits-pic5 {
  background: url("/images/benefits-share.png") no-repeat round;
  transform: scale(-1, 1)
}

.benefit-info {
  width: 350px;
}

.benefit-title {
  font-size: 1.4em;
  font-weight: 700;
}

.benefit-text {
  font-size: 1em;
}

@media (min-width: 510px) and (max-width: 650px) {
  .benefit-info {
    width: 274px;
  }
}

@media (min-width: 729px) {
  .benefit-info {
    width: 510px;
  }
}

@media (min-width: 992px) {
  .benefit-info {
    width: 280px;
  }
}

@media (min-width: 1200px) {
  .benefit-info {
    width: 360px;
  }

  .benefit-title {
    font-size: 1.6em;
  }
  
  .benefit-text {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 350px){
  .benefit-title{
    font-size: 1.2em;
    line-height: 1.3;
  }
  .benefit-text{
    font-size: 0.9em;
    line-height: 1.3;
  }
  
} 