/* @import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic); */

body {
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  font-size: 1.6em;
}

.row {
  margin: 0;
}

.hidden {
  display: none;
}

.ul-error {
  list-style-type: none;
  padding: 0;
}

a {
  cursor: pointer;
}

textarea {
  resize: none;
}

.header {
  background: #1976D2;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.nav-fixed {
  top: 0;
  position: fixed;
  background: #fff;
  
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.header.nav-fixed .logo a {
  color: #2196F3;
}

.logo {
  width: auto;
  padding-top: 5px;
  margin: 0;
}

.header .logo a {
  color: #fff;
  text-decoration: none;
}

.header .main-nav .nav .nav-item {
  margin-right: 30px;
}

.header .main-nav .nav .nav-item a {
  color: #fff;
  padding: 15px 10px;
}

.nav-fixed .main-nav .nav .nav-item a {
  color: #666666;
}

.header .main-nav .nav .nav-item a:hover {
  color: #4FC3F7;
}

.section {
  padding: 36px 0;
}

.grey {
  background: #f5f5f5;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 45px;
  color: #1976D2;
}

.section-text {
  text-align: justify;
}

.about-text {
  font-size: 1.2em;
  margin: 0 auto;
  margin-bottom: 45px;
  /* color: #212121; */
  text-align: justify;
}

.plus {
  color: #606060;
}

.aboutBlock {
  color: #003841;
  margin-top: -25px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Constantia";
}

.footer {
  background: #F5F5F5;
  background: -moz-radial-gradient(center, ellipse cover, #F5F5F5, #B2B2B2);
  background: -webkit-linear-gradient(top, #F5F5F5, #B2B2B2);
  background: -o-linear-gradient(top, #F5F5F5, #B2B2B2);
  background: -ms-linear-gradient(top, #F5F5F5, #B2B2B2);
  color: #697176;
}

.footer-content {
  padding-top: 50px;
  padding-bottom: 0;
}

.steps .item {
  border-radius: 10px;
  margin-bottom: 20px;
}

.icon-holder {
  position: absolute;
  color: #FFC107;
  left: 30px;
  top: 0;
}

.fa-graduation-cap {
  margin-left: -15px;
}

hr {
  border-top: 1px solid #E65100;
}

.steps .item .content {
  padding-left: 85px;
}

.steps {
  overflow: hidden;
}

.sub-title {
  margin-top: 5px;
}

.t1 {
  margin-bottom: 45px;
}

header,
button {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.form-control {
  overflow: hidden;
}

.form-control:focus {
  border-color: #2979FF;
}

.form-group.required .control-label:after { 
  color: #d00;
  content: "*";
}
.star-on-png {
  color: #2979FF;
}

.header .main-nav .nav .nav-item.active a {
  color: #1ca8dd;
}

.empty {
  height: 80px;
}

.form-check-input {
  width: 25px;
  height: 25px;
}

.text-plus {
  text-align: center;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    margin-top: 100px;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.file-caption-main {
  margin-bottom: 10px;
}

.vk {
  display: block;
  background-size: cover;
  background: url("/images/vk.png") no-repeat;
  height: 50px;
  width: 50px;
}

.mail {
  display: block;
  background: url("/images/mail.png") no-repeat;
  height: 50px;
  width: 50px;
  background-size: cover;
}

.top_background .row {
  position: relative;
  z-index: 3;
  margin: 0;
}

.top_background {
  text-align: center;
  padding: 50px 0;
  background-color: rgba(0, 67, 97, .07);
  background-image: url("/images/mainbackground.jpg");
  background-size: cover;
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, .9);
}

.top_background::before {
  display: block;
  content: "";
  background-color: rgba(25, 41, 57, .55);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .personalDataModalLong {
    margin-top: 70px;
  }
  .top_background {
    padding: 110px 0;
  }
}

@media (min-width: 768px) {
  .personalDataModalLong {
    margin-top: 164px;
  }
  .header .main-nav button {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .empty {
    height: 71px;
  }
  .personalDataModalLong {
    margin-top: 70px;
  }
}

.header .main-nav button {
  background: #1ca8dd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

#stars {
  width: 150px;
}

.footer-content>.row {
  padding-bottom: 20px;
}

.textbuety {
  color: #FFFFFF;
  font-style: italic;
}

.bootstrap-dialog .bootstrap-dialog-title {
  font-size: 18px;
}

.bootstrap-dialog .bootstrap-dialog-message {
  font-size: 16px;
}

@media (max-width: 992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 .navbar-nav .open .dropdown-menu {
     position: static;
     float: none;
     width: auto;
     margin-top: 0;
     background-color: transparent;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
  }
}

#formfeedback > .row {
  margin-left: -15px;
  margin-right: -15px;
}

#formreview > .row {
  margin-left: -15px;
  margin-right: -15px;
}

.st {
  color: #e74c3c;
}