<!DOCTYPE html>
<html>

<head>
    <title>Вход в систему</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="margin-top: 75px;">
        <form class="form-horizontal login-form jumbotron" name="login-form">
            <h2>Вход в систему</h2>
            <div class="form-group">
                <label for="input-email">Электронная почта</label>
                <input name="email" type="email" class="form-control" id="input-email" placeholder="Адрес электронной почты">
            </div>
            <div class="form-group">
                <label for="input-password">Пароль</label>
                <input name="password" type="password" class="form-control" id="input-password" placeholder="Пароль">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>
                <span class="help-block error"></span>
            </div>
        </form>
    </div>

    <script>
        $(document.forms['login-form']).on('submit', function () {
            var form = $(this);

            $('.error', form).html('');
            $(":submit", form).button("loading");

            $.ajax({
                url: "/admin/login",
                method: "POST",
                data: form.serialize(),
                complete: function () {
                    $(":submit", form).button("reset");
                },
                statusCode: {
                    200: function () {
                        form.html("Вы вошли на сайт").addClass('alert-success');
                        window.location.href = "/admin";
                    },
                    403: function (jqXHR) {
                        var error = JSON.parse(jqXHR.responseText);
                        $('.error', form).html(error.message);
                    }
                }
            });
            return false;
        });
    </script>
</body>

</html>