<% layout('../../layout/pageAdmin') -%>
    <% block('title', "Регистрация") -%>

    <% if(user) {%>
        <script>window.location.href = "/admin";</script>
    <% } %>

        <p>Регистрация нового пользователя.</p>
        <div class="jumbotron">
            <form class="form-horizontal" name="registration-form">
                <fieldset>
                    <div class="form-group">
                        <label for="input-firstName" class="col-lg-2 control-label">Имя</label>

                        <div class="col-lg-10">
                            <input name="firstName" type="text" class="form-control" id="input-firstName" placeholder="Имя">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-secondName" class="col-lg-2 control-label">Фамилия</label>

                        <div class="col-lg-10">
                            <input name="secondName" type="text" class="form-control" id="input-secondName" placeholder="Фамилия">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-email" class="col-lg-2 control-label">Электронная почта</label>

                        <div class="col-lg-10">
                            <input name="email" type="email" class="form-control" id="input-email" placeholder="Адрес электронной почты">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-password" class="col-lg-2 control-label">Пароль</label>

                        <div class="col-lg-10">
                            <input name="password" type="password" class="form-control" id="input-password" placeholder="Пароль">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Регистрация</button>
                            <span class="help-block error"></span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <script>
            $(document.forms['registration-form']).submit(function (e) {
                e.preventDefault();
                let form = $(this);

                $('.error', form).html('');
                $(":submit", form).button("loading");

                $.ajax({
                    url: "/admin/registration",
                    method: "POST",
                    data: form.serialize(),
                    complete: function () {
                        $(":submit", form).button("reset");
                    },
                    statusCode: {
                        200: function () {
                            form.html("Вы успешно зарегестрировались.").addClass('alert-success');
                            window.location.href = "/admin";
                        },
                        403: function (jqXHR) {
                            var error = JSON.parse(jqXHR.responseText);
                            $('.error', form).html(error.message);
                        }
                    }
                });
                return false;
            });
        </script>