<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <header>
        <%-partial('../partials/admin/header')%>
    </header>
    
    <div class="dashboard">
        <%-partial('../partials/admin/left_menu')%>                      
        <div class="dash_content">
            <%-body%>
        </div>
    </div>
</div>
</body>
</html>