<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
			  aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/admin">EzAdmin</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav top_menu">

			</ul>
			<hr>
			<ul class="nav navbar-right">
				<% if(user) { %>
					<li>
						<a class="menu_elem " href="/admin/profile"><%= user.firstName %> <%= user.secondName %></a>
					</li>
					<li>
						<a class="menu_elem " href="" onclick="$.post('/admin/logout');">Выйти</a>
					</li>
					<% } else { %>
						<li><a href="/admin/login">Войти</a></li>
						<% } %>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>