<div class="left_menu collapse">
  <ul class="nav nav-stacked">
    <li>
      <a class="menu_elem <%- (page_name === 'main') ? 'active' : ''%>" href="/admin">Главная</a>
    </li>
    <li>
      <a class="menu_elem <%- (page_name === 'applications') ? 'active' : ''%>" href="/admin/applications">Заявки</a>
    </li>
    <li>
      <a class="menu_elem <%- (page_name === 'reviews') ? 'active' : ''%>" href="/admin/reviews">Отзывы</a>
    </li>
  </ul>
</div>